/* Global Styles */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition: background-color .25s;
}

body {
    background-color: #f9f9f9;
}

main{
    width: flex;
    margin-bottom: 4em;
    transition: margin-left .25s;
}

/* Drawer Menu */
.drawer {
    width: 0;
    background-color: #333;
    color: white;
    height: 100vh;
    position: fixed;
    padding-top: 2em;

    transition: 0.25s;
    overflow-x: hidden;
    z-index: 2;
}

.drawer h2 {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}
.drawer h2:hover {
    color: #fafafa;
}
.drawer ul {
    list-style: none;
}
.drawer ul li {
    padding: 0.8em 0;
}
.drawer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
}
.drawer ul li a:hover {
    color: pink;
}

/* Header */
header{
    position: fixed;
}

header:not(.navBtn) {
    width: 100%;
    height: 10vh;
    background-color: gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
}

.navBtn{
    width: 1em;
    height: 7vh;
    background-color: gray;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Jewelry Gallery */
.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
}

.collection_title{
    width: 100%;
    height: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.item {
    width: 45%;
    padding: 2%;
    border: 0.3em solid pink;
    text-align: center;
    background: white;
    margin-bottom: 2%;
}

.item img {
    width: 100%;
    height: auto;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4em;
    background-color: pink;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .drawer {
        width: 100%;
        height: auto;
        position: relative;
        padding: 1em;
        text-align: center;
    }

    .drawer ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .drawer ul li {
        margin: 0 10px;
    }

    header {
        margin-left: 0;
        width: 100%;
    }

    .gallery {
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }

    .item {
        width: 90%;
    }

    footer {
        left: 0;
        width: 100%;
    }
}